<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login & Reg | Home</title>
  </head>
  <body>
    <form action="/process" method="post">
      {% csrf_token %}
      {% for error in errors %}
      <p>{{ error }}</p>
      {%endfor%}
      First Name: <input type="text" name="fname">
      Last Name: <input type="text" name="lname">
      Email: <input type="text" name="email">
      Password: <input type="password" name="passwd">
      Confirm Pw: <input type="password" name="confpw">
      <input type="submit" name="" value="Register">
    </form>
    <form action="/login" method="post">
      {% csrf_token %}
      Email: <input type="text" name="email">
      Password: <input type="text" name="passwd">
      <input type="submit" name="" value="Login">
    </form>
  </body>
</html>
