<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Farm Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

    <h1>Your Gold: <span style="2px solid black">{{session['gold']}}</span></h1>
    <form class="" action="/process_money" method='post'>
        <div class="where">
            <h1>Farm</h1>
            <br>
            <p>(earns 10-20 golds)</p>
        </div>
        <br>
        <input type="hidden" name="sub" value="farm">
        <input type="submit" name="button" value="Find Gold!">
    </form>

    <form class="" action="/process_money" method='post'>
        <div class="where">
            <h1>cave</h1>
            <br>
            <p>(earns 5-10 golds)</p>
        </div>
        <br>
        <input type="hidden" name="sub" value="cave">
        <input type="submit" value="Find Gold!">
    </form>

    <form class="" action="/process_money" method='post'>
        <div class="where">
            <h1>House</h1>
            <br>
            <p>(earns 2-5 golds)</p>
        </div>
        <br>
        <input type="hidden" name="sub" value="house">
        <input type="submit" value="Find Gold!">
    </form>

    <form class="" action="/process_money" method='post'>
        <div class="where">
            <h1>Casino</h1>
            <br>
            <p>(earns/takes 0-50 golds)</p>
        </div>
        <input type="hidden" name="sub" value="casino">
        <br>
        <input type="submit" value="Find Gold!">
    </form>
    <div class="log">
        <br>
        <br>
        <br>
        <h4>Activities:</h4>

          {% for index in session['arrayGold'] %}

          <p class={{index['color']}}> {{index['sentence']}}</p>

          {% endfor %}


    </div>
</body>

</html>
