<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sorry! too low..</title>
</head>
<!-- &#x1F61E  sad imoji-->
<body>
  {%if session['guess'] > session['random_number']%}
    <form class="" action="/submit" method="post">
        <div class="">
          <h1>Too high &#x1F61E </h1>
        </div>
        <input type="hidden" name="sub" value="submit">
        <input id='guess' type="text" name="guess" value="">
        <input id='button' type="submit" name="button" value="Submit">
    </form>
  {%endif%}
  <form class="" action="/submit" method="post">
      <div class="">
        <h1>Too low &#x1F61E </h1>
      </div>
      <input type="hidden" name="sub" value="submit">
      <input id='guess' type="text" name="guess" value="">

      <input id='button' type="submit" name="button" value="Submit">
  </form>
  {%endif%}
</body>

</html>
